@model LiteCommerce.DomainModels.ProductAttribute
@{
     
}


<div class="box box-primary">
    <form role="form" action="~/Product/SaveAttributes" method="post">
        <div class="box-header text-right">
            <a href="~/Product/Edit/@Model.ProductID">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <input type="hidden" name="AttributeID" value="@Model.AttributeID" />

                <div class="col-sm-6">
                    <label>AttributeName: @Html.ValidationMessage("AttributeName", new { @class = "text-danger" })</label>
                    <input type="text" class="form-control" name="AttributeName" value="@Model.AttributeName" placeholder="Enter Attribute Name">
                </div>
                

                <div class="col-sm-6">
                    @*<label>ProductID: @Html.ValidationMessage("AttributeName", new { @class = "text-danger" })</label>*@
                    <input class="form-control" type="hidden" name="ProductID" value="@Model.ProductID" />
                   @* @Html.DropDownList("ProductID", SelectListHelper.Products(), "--Danh Sach Loai--", new { @class = "form-control" })*@

                </div>

                <div class="col-sm-6">
                    <label>AttributeValue:</label>
                    <input type="text" class="form-control" placeholder="Attribute Value" name="AttributeValue" value="@Model.AttributeValue">
                </div>
                <div class="col-sm-6">
                    <label>DisplayOrder:</label>
                    <input type="text" class="form-control" placeholder="DisplayOrder" name="DisplayOrder" value="@Model.DisplayOrder">
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/">
                Cancel
            </a>
        </div>
    </form>
</div>
