@model LiteCommerce.Admin.Models.EmployeePaginationQueryResult

@{
    ViewBag.Title = "Danh Sách Nhân Viên";
}



@*form để tìm kiêm*@
<div class="container-fluid">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập tên cần tìm kiếm..." value="@Model.SearchValue">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

</div>




<div class="container-fluid">
    <div class="text-left">
        <p>Có tất <strong>@Model.RowCount</strong> Nhân Viên . Các bạn đang ở trang <strong>@Model.page</strong> trong <strong>@Model.PageSize</strong>  trang.</p>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Ngày Sinh</th>
                <th class="text-right">
                    <a href="~/Employees/Add" class="btn btn-primary" style="color:#fff"><i class="fa fa-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.EmployeeID</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.BirthDate</td>
                    <td class="text-right">
                        <a href="~/Employees/Detail/@item.EmployeeID" class="btn btn-bitbucket"><i class="fa fa-info"></i></a>
                        <a href="~/Employees/Edit/@item.EmployeeID" class="btn btn-info"><i class="fa fa-edit"></i></a>
                        <a type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger"><i class="fa ion-android-delete"></i></a>
                        @{ Html.RenderPartial("~/Views/Employees/Delete.cshtml");}

                    </td>
                </tr>
            }
        </tbody>



    </table>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#"><<</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">>></a></li>
        </ul>
    </div>
</div>


