@model LiteCommerce.DomainModels.Supplier
@{
  
}

<div class="box box-primary">
    <form method="post" action="~/Suppliers/Save">
        @Html.HiddenFor(m => m.SupplierID)

        <div class="form-group">
            <label>Tên Nhà Cung Cấp:</label>
            @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control", @autofocus = "autofocus" })
            <span>@Html.ValidationMessage("SupplierName", new { @class = "text-danger" })</span>

            @*<input type="text" class="form-control" id="SuppliersName" name="SuppliersName" autofocus>*@
        </div>
        <div class="form-group">
            <label>Tên Liên Lạc:</label>
            <input type="text" class="form-control" name="ContactName" value="@Model.ContactName" placeholder="Contact Name">
            <span>@Html.ValidationMessage("ContactName", new { @class = "text-danger" })</span>

        </div>

        <div class="form-group">
            <label>Địa Chỉ:</label>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Thành Phố:</label>
                    @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })

                    @*<select class="form-control" name="city" id="city">
                            <option>Mặc Định</option>
                            <option>Huế</option>
                        </select>*@
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Quốc Gia:</label>
                    @Html.DropDownListFor(m => m.City, SelectListHelper.Cities(), new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Mã Bưu Chính:</label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Số Điện Thoại:</label>
            <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
        </div>


        @*Save Giu Lieu*@

        <div class="row">
            <div class="col-lg-6">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-save"></i>
                    Lưu dữ liệu
                </button>
            </div>

            <div class="col-lg-6 text-right">
                <button class="btn btn-adn">
                    <a href="~/Suppliers" style="color:#ffffff">
                        <i class="fa fa-defaut"></i> Hủy
                    </a>
                </button>
            </div>
        </div>

    </form>
    </div>



